body {
    background-color: #eee;
    font-family: 'Courier New', monospace, sans-serif;
}

.list {
    width: 400px;
    background: #fff;
    margin: 8px auto;

    padding: 16px 64px;
}

.list-content {
    font: 25px;
    font-weight: bold;
    background: #e3f4ff;

    margin: 8px auto;
    font-size: 25px;
    padding: 8px;
}

.title {
    width: 500px;
    background-color: black;
    margin: 16px auto;

    padding: 16px;
    color: #eee;

    font-size: 32px;
    text-align: center;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.subtitle {
    width: 500px;
    margin: 8px auto;
    padding: 8px;
    color: black;
    text-align: left;
}

.description {
    width: 500px;
    margin: 8px auto;

    padding: 8px;
    color: black;
}

img {
    width: 500px;
    height: auto;

    display: block;
    margin: auto;
}